@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #7A001B;
    height: 75px;
}

/* Logo */

#logo {
    font-family: 'Marcellus SC', serif;
    font-size: 300%;
    margin: 10px;
    float: left;
    color: #F5F5DC;
}

/* Main section */

.main-section {
    background-image: url(../images/parchment-bg.jpg);
}