@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {    
    background: rgba(255, 233, 255, 0.8);
    font-family: Merriweather, serif;
}

header {
    height: 75px;
    background-color: #eeeeee;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* Logo and headings */

h1 {
    font-family: 'Marcellus SC', serif;
}

h2 {
    font-family: Marcellus, serif;
}

#logo {
    font-size: 300%;
    margin: 10px;
    float: left;
    color: #310151;
}

/* Navigation menu */

.menu {
    color: #310151;
    font-family: Marcellus, serif;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    list-style-type: none;
    margin: 30px 25px;
    flex-shrink: 0;
}

.menu a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu a:hover {
    color: #FFE9FF;
    background-color: #310151;    
}

.active {
    border: 2px solid #310151;
}

/* Timeline */

#timeline {
    width: 15%;
    margin: 11px;
    float: left;
    clear: left;
    z-index: 90;
}

#timeline > div {
    padding: 4vh 0;
    border-left: 3px solid #310151;
    color: #310151;
}

#timeline > div::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #FFF;
    border: 3px solid #310151;
    left: 5px;
}

#timeline h2, h3 {
    margin-left: 15px;
    padding-bottom: 5px;
    color: #310151;
}

#timeline p {
    clear: both;
    margin: auto 20px;
}

#timeline > div:hover {
    font-size: 110%;
    font-weight: bold;
}

/* Wives section */

.wives {
    width: 83%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#aragon, #boleyn, #seymour, #cleves, #howard, #parr {
    flex-basis: 33%;
    height: 600px;
    color: #310151;
    position: relative;
}

#aragon {
    background: url(../images/catherine-of-aragon-desaturated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#boleyn {
    background: url(../images/anne-boleyn-desaturated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#seymour {
    background: url(../images/jane-seymour-desaturated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#cleves {
    background: url(../images/anne-of-cleves-desaturated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#howard {
    background: url(../images/kathryn-howard-desaturated.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#parr {
    background: url(../images/katherine-parr-desaturated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wives-text {
    overflow: hidden;
    background: rgba(238, 238, 238, 0.8);
    position: absolute;
    line-height: 30px;
    margin: 5%;
    padding: 5%;
    height: 80%;
}

.wives-text h3 {
    color: #310151;
    text-align: center;
    font-size: 120%;
    text-transform: uppercase;
}

.wives-text strong {
    text-transform: uppercase;
}

/* Social media links */

.social {
    position: fixed;
    bottom: 0;
    min-width: 750px;
}

.social li {
    list-style-type: none;
    text-decoration: none;
    display: inline;
}

.social i {
    color: #310151;
    font-size: 200%;
    text-align: center;
    margin: 1%;
}